# Diretório do ambiente virtual
env/
venv/
.venv/

# Arquivos de cache do Python
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log

# Arquivos de sistema
.DS_Store
Thumbs.db

# Pastas e arquivos do VS Code
.vscode/

# Arquivos temporários
*.tmp
*.temp
*.swp
*.swo

# Arquivos de pacotes
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
*.egg-info/
.installed.cfg
*.egg

# Dependências instaladas
*.env
.env/
.env.*
